<launch>

  <arg name="robot" default="localhost" doc="allows the user to specify the hostname of the turtlebot"/>
  <arg name="simulate" default="true"/>
  <param name="frequency" value = "10"/>
  <param name="world_frame_id" value ="world"/>
  <param name="turtle_frame_id" value = "turtle"/>
  <param name="map_frame_id" value="map"/>
  <arg name="urdf_file" default="$(find xacro)/xacro '$(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro'"/>
  <param name="robot_description" command="$(arg urdf_file)"/>
  <param name="simulate" value="$(arg simulate)"/>
  <rosparam file="$(find nuslam)/config/covariance.yaml" />
  <rosparam file="$(find nuturtle_description)/config/diff_params.yaml" />  
  <rosparam file="$(find nurtlesim)/config/tube_world_params.yaml" />  

  <node pkg="nuslam" name="slam" type="slam" output="screen">
    <param name="odom_frame_id" value ="odom_frame"/>
    <param name="body_frame_id" value = "base_footprint"/>
    <param name="left_wheel_joint" value = "wheel_left_joint"/>
    <param name="right_wheel_joint" value = "wheel_right_joint"/>
  </node>

  <node pkg="nuslam" name="detection" type="landmarks" output="screen"/>

  <group unless="$(eval robot == 'localhost')">
    <include file="$(find nuturtle_robot)/launch/basic_remote.launch" >
      <arg name="robot" value="$(arg robot)" />
    </include>
  </group>
  
  <node pkg="nurtlesim" name="fake" type="tube_world" output = "screen">
    <param name="wheel_base" value ="0.16"/>
    <param name="wheel_radius" value = "0.033"/>
    <param name="left_wheel_joint" value = "wheel_left_joint"/>
    <param name="right_wheel_joint" value = "wheel_right_joint"/>
  </node>

  <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="teleop" output="screen"/>


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nuslam)/config/model.rviz -f world"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="1000.0" />
    <param name="tf_prefix" value=""/>
  </node>

</launch>